
body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.66666667;
  color: #363636;
}

.h1, h1 {
  font-size: 24px;
}

.label-primary {
  background-color: #39a5dc;
}
.label, .list-group-item-heading, label {
  font-weight: 600;
}
.label {
  border-radius: 0;
  font-size: 100%;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  vertical-align: baseline;
}

.btn {
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.66666667;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.btn-default {
  background-color: #f1f1f1;

  border-color: #bbb;
  color: #4d5258;
}


/* You can add global styles to this file, and also import other style files */

.product-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  border-radius: 10px;
}
